body {
  font-family: Roboto, sans-serif !important;
}

#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 1.4rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply dark:text-white;
    @apply text-5xl;
    @apply font-medium;
  }

  h3 {
    @apply dark:text-white;
    @apply text-dark !important;
    @apply text-2xl;
    @apply mb-0;
    @apply font-bold;
  }

  a {
    @apply dark:text-red;
    @apply text-link;
    @apply cursor-pointer;
    @apply opacity-80;
  }

  a:hover {
    @apply opacity-100;
    @apply underline;
    @apply transition;
    @apply duration-300;
  }

  svg {
    display: initial;
  }
}

@layer components {
  .logo {
    @apply dark:text-white;
    @apply text-2xl;
    @apply font-medium;
    @apply ml-2;
  }

  .card-link {
    @apply no-underline !important;
  }
  .card-link:hover img {
    @apply opacity-80;
    @apply transition-opacity;
    @apply duration-300;
  }
  .card-link:hover h3 {
    @apply text-gray !important;
  }
}

@layer utilities {
  .link-no-underline {
    @apply no-underline !important;
  }
}
